<div class="sidebar">

    <div class="sidebar-header">

        <h1>Workspace MKT</h1>

    </div>

    <div class="sidebar-menu">

        <div class="menu-group">

            <span class="menu-title">
                Demandas
            </span>

            <ul>

                <li>
                    #
                        Kanban
                    </a>
                </li>

                <li>
                    #
                        Lista
                    </a>
                </li>

            </ul>

        </div>

        <div class="menu-group">

            <span class="menu-title">
                Planejamento
            </span>

            <ul>

                <li>
                    #
                        Calendário
                    </a>
                </li>

                <li>
                    #
                        Gantt
                    </a>
                </li>

            </ul>

        </div>

        <div class="menu-group">

            <span class="menu-title">
                Gestão
            </span>

            <ul>

                <li>
                    #
                        Dashboard
                    </a>
                </li>

                <li>
                    #
                        Aprovações
                    </a>
                </li>

                <li>
                    #
                        Equipe
                    </a>
                </li>

            </ul>

        </div>

        <div class="menu-group">

            <span class="menu-title">
                Sistema
            </span>

            <ul>

                <li>
                    #
                        Administração
                    </a>
                </li>

            </ul>

        </div>

    </div>

</div>
