*{
    margin:0;
    paddi*g:0;
    box-sizing:border-box;
}
*body{
    font-family: Arial, sans*serif;
    background:*var(--gray-100);
}

header{
    ba*kground: var(--green-primary);
   *color:white;
    padding*20px;
}

main{
    padding:30px;
}*
