.kanban-board{
    display:flex;
    gap:20px;
    padding:20px;
}

.kanban-column{
    min-width:250px;
    background:white;
    padding:15px;
    border:1px solid #ddd;
    border-radius:8px;
}

.card{
    border:1px solid #ddd;
    padding:10px;
    border-radius:8px;
}
